@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Lemon&display=swap');



*{

  font-family: 'Lemon', serif !important;
  font-weight: 100;
 
}

/* 
  .formLogin{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin-bottom:" 5rem";
  }
   */

.link{
  color: #121312;
  font-size: 0.8rem;
}

.loginContainer{
  /* border: 5px solid green; */
  display: flex !important;
  flex-direction: column;
  min-height: 100vh;
  gap:5rem;
  padding: 3rem;
  
}
.formimgBox{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
}
.boximg{
  width: 30rem;
}
  .form{

 display: flex;
 margin-bottom: "5rem";
 justify-content: center;
 flex-direction: column;
 border-radius: 2rem;
 gap: 3rem;
 /* width: 50%; */
 padding: 3rem;
 box-shadow: 0 0 .1rem #41403e,
 0 0 .1rem #55504c,
 0 0 1rem #42413f,
 0 0 0.8rem #3d3d3b,
 0 0 1.1rem #4d4a44,
 inset 0 0 .3rem #2b2926be;
 background-color: #1818171d;
  }
 

  .login-btn {
background: linear-gradient(to right, #067c33, #c2db32) !important;

  }
  

  .forminputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    /* width: 70%; */
    margin: auto;
   
  }

  /* .loginContainer{
    background-image: radial-gradient( circle 759px at -6.7% 50%,  rgba(80,131,73,1) 0%, rgba(140,209,131,1) 26.2%, rgba(178,231,170,1) 50.6%, rgba(144,213,135,1) 74.1%, rgba(75,118,69,1) 100.3% );
    min-height: 100vh;
  
  } */

  .buttonSubmit{
    background-image: linear-gradient( 126.3deg,  rgba(30,2,83,1) 32.2%, rgba(198,55,160,0.46) 109.2% );
  }
  .stockApp {
    font-size: 80px !important;
    font-weight: bold;
    color: #1f1e1dda;
    text-align: center;
    animation: hop 1.2s infinite; 
  }
  
  @keyframes hop {
    0%, 100% {
      opacity: 1; 
    }
    50% {
      opacity: 0; 
    }
  }
  .stockAppContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background-image: radial-gradient( circle 759px at -6.7% 50%,  rgba(80,131,73,1) 0%, rgb(41, 46, 40) 26.2%, rgba(178,231,170,1) 50.6%, rgb(27, 32, 26) 74.1%, rgba(75,118,69,1) 100.3% );
    min-height: 100vh;
  
  
  }
  



.loader {
  position: relative;
  width: 164px;
  height: 164px;
  margin-top: 3rem;
}
.loader::before , .loader::after {
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #924d15;;
  left: 50%;
  top: 50%;
  animation: rotate 1.2s ease-in infinite;
}
.loader::after {
width: 20px;
height: 20px;
background-color: #924d15;
animation: rotate 1.2s ease-in infinite, moveY 1.2s ease-in infinite ;
}

@keyframes moveY {
0% , 100% {top: 10%}
45% , 55% {top: 59%}
60% {top: 40%}
}
@keyframes rotate {
0% { transform: translate(-50%, -100%) rotate(0deg) scale(1 , 1)}
25%{ transform: translate(-50%, 0%) rotate(180deg) scale(1 , 1)}
45% , 55%{ transform: translate(-50%, 100%) rotate(180deg) scale(3 , 0.5)}
60%{ transform: translate(-50%, 100%) rotate(180deg) scale(1, 1)}
75%{ transform: translate(-50%, 0%) rotate(270deg) scale(1 , 1)}
100%{ transform: translate(-50%, -100%) rotate(360deg) scale(1 , 1)}
}
.imgLoginDiv{
  display: flex;
  justify-content: center;
}
.imgLogin{
  max-width: 70px;
  height: auto;
  max-height: 70px;
; 
  
}

.backround{
  background-image: radial-gradient( circle 759px at -6.7% 50%,  rgba(80,131,73,1) 0%, rgb(41, 46, 40) 26.2%, rgba(178,231,170,1) 50.6%, rgb(27, 32, 26) 74.1%, rgba(75,118,69,1) 100.3% );
  min-height: 100vh;

}





.imgLoginDiv {
  position: relative;
}

.imgLogin {
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: -55px; 
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-background-clip: text;
    -webkit-text-fill-color: #0c0c0c;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px #23232329;
}

.table{
  background-color: #a8a2a244;
}

.searchdiv{
  display: flex;
  justify-content: space-evenly;
  margin-top: 4rem;
}

.searchinput{
  width: 20rem;
  height: 2.5rem;
  border-radius: 1rem;
  border: 3px solid;
  background-color: transparent;

}